#map {
  height: 500px;
  width: 100%;
  border-radius: 5px;
}

#circle {
  width: 25px;
  height: 15px;
  border-radius: 25px;
  opacity: 0.5;
  float: left;
  margin-right: 2px;
}

#key {
  width: 10%;
  margin: 3px;
  font-size: 1.2vw;
}

#key div
{
  display: inline-flex;
}

#mapZone 
{
  justify-content: center;
  display: flex;
}

h1 {
  text-align: center;
}

header
{
  z-index: 1;
  background: rgba(255, 255, 255, 0.88);
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
	position: sticky;
	top: 0;
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
}

a
{
  color: rgba(255, 155, 0);
}

a:hover
{
  color: #ffb861;
  cursor: pointer;
  text-decoration: underline;
}

/*nav*/
nav ul
{
  display: flex;
  padding-left: 50px;
  list-style: none;
}

nav ul li
{
  margin-right: 10%;
}

nav ul li:first-child
{
  margin-left: 10%;
  margin-right: auto;
}

nav ul li a
{
  display: inline-block;
  outline: none;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-style: normal;
}

nav a
{
  text-decoration: none;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

nav a img
{
  height: 15px;
  visibility: hidden;
}

form
{
  display: block;
}

input
{
  border: solid 2px #363636;;
  border-radius: 5px;
}

input:hover
{
  border-color: #D57B0F;
}

input:focus
{
  box-shadow: 1px 1px 1px black;
}

button
{
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgba(255, 155, 0);
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

button:hover
{
  box-shadow: 1px 1px 1px black;
}

.danger
{
  border-color: red;
  border-width: 3px;
}

main
{
  border: 1px solid grey;
  border-radius: 10px;
  text-align: left;
  margin: 10px auto 20px auto;
  padding: 10px 40px;
  width: 60%;
}

html {
  font-family: sans-serif;
  color: #363636;
}

footer
{
  clear: both;
  margin: auto;
  bottom: 0;
  height: min-content;
  text-align: center;
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.88);
}

h1, h2, h3, h4
{
  color: rgba(255, 155, 0);
  box-shadow: 0 4px 3px -6px black;
}

.center
{
	display: flex;
	margin: auto;
	max-width: fit-content;
}


/** Mobile Devices **/
@media only screen and (max-width:768px)
{
  #key
  {
    display: inline;
    font-size: medium;
  }

  #key div
  {
    display: block;
  }

  #circle
  {
    width: 20px;
    height: 20px;
  }

  #mapZone
  {
    display: block;
  }

  header
  {
    border: none;
    border-radius: 0;
    border-bottom: 2px black solid;
    box-shadow: none;
  }

  main
  {
    width: 98%;
    padding: 3px;
    border: none;
  }

  nav
  {
    height: fit-content;
  }

  nav li a
  {
    color: transparent;
  }

  nav a img
  {
    visibility: visible;
  }

  nav ul
  {
    padding: 0;
    display: flex;
    margin: auto;
    width: 100%;
  }

  nav ul li
  {
    padding: 0px 8px 0px 8px;
    display: inline-block;
    float: none;
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 1px 1px 1px black;
    margin: 0px 3px 3px 0;
  }

  nav ul li:first-child
  {
    margin-left: 0;
    margin-right: 0;
  }

  nav ul li a
  {
    font-size: 3vw;
  }
}