#map {
  height: 500px;
  width: 500px;
}

#circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  opacity: 0.5;
  float: left;
}

#key {
  width: 150px;
  padding-right: 10%;
}

#mapZone {
  padding: 10%;
  justify-content: center;
  display: flex;
}

h1 {
  text-align: center;
}

header
{
  z-index: 1;
  background: rgba(255, 255, 255, 0.88);
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
	position: sticky;
	top: 0;
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
}

a
{
  color: #D57B0F;
}

a:hover
{
  color: blue;
}

/*nav*/
nav ul
{
  display: flex;
  padding-left: 50px;
  list-style: none;
}

nav ul li
{
  margin-right: 10%;
}

nav ul li:first-child
{
  margin-left: 10%;
  margin-right: auto;
}

nav ul li a
{
  display: inline-block;
  outline: none;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-style: normal;
}

nav a
{
  text-decoration: none;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

nav a img
{
  height: 15px;
  visibility: hidden;
}

form
{
  display: block;
}

article {
  border: 1px solid grey;
  border-radius: 10px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 60%;
}

html {
  font-family: sans-serif;
  color: #D57B0F;
}

footer
{
	color: #35424a;
	clear: both;
  margin: auto;
	bottom: 0;
	height: 50px;
	text-align: center;
}

.center
{
	display: flex;
	margin: auto;
	max-width: fit-content;
}


/** Mobile Devices **/
@media only screen and (max-width:768px)
{
  header
  {
    border: none;
    border-radius: 0;
    border-bottom: 2px black solid;
    box-shadow: none;
  }

  nav
  {
    height: fit-content;
  }

  nav li
  {
    padding: 0px 8px 0px 8px;
    display: inline-block;
    float: none;
    border-right: 2px black solid;
    border-left: 2px black solid;
    margin-left: 0;
    margin-right: 0;
  }
  nav a p
  {
    visibility: hidden;
    width: 0;
    display: inline;
  }
  nav li a
  {
    visibility: visible;
  }

  nav a img
  {
    visibility: visible;
  }

  nav ul
  {
    margin: 0;
    padding: 0;
  }

  nav ul li
  {
    margin: 1px;
  }

  nav ul li:first-child
  {
    margin-left: 0;
    margin-right: 0;
  }

  nav ul li a
  {
    font-size: 0.8em;
  }
}