<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>About</title>
</head>

<body>
    <header>
        <b>Tourist App

            <a id = "SOS" href="tel:112">Emergency Call</a>
            <a href="/about">About</a>
            <a href="/map">Map</a>
    </b>
    </header>
    <article>
        <h3>Who are we?</h3>
        <div>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s, when an unknown printer took a galley
            of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem
            Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </article>
</body>

</html>
