<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>JAIB - Home</title>
      <script src = "js/index.js"  defer></script>

      <link rel="stylesheet" type="text/css" href="./css/style.css">
      <link rel="icon" type="image/x-icon" href="/favicon.ico">
      
   </head>


<body>
   <nav class="navbar">
      <div class="brand-title"><a href="/about">TouristApp</a></div>
      <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <div class="navbar-links ">
        <ul>
          <li><a href="/">Map</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/emergency">Emergency</a></li>
        </ul>
      </div>
    </nav>


   <main>
      <article>
        <h2>Mission Statement</h2>
         “Implement a service to protect sacred grounds from tourists by allowing them to track their position on the map”

         <h3>Our Vision</h3>

         JILA’s mission is to secure sacred lands of the communities of Cape York, by providing tourists with a digital platform to see their position to stop them going into restricted areas. Collaboration with the main organisations will provide maps and descriptions of restricted areas which will be accessible to all, regardless of technological medium. Before implementing anything, we will aim for this platform to be similar to Apple or Google maps to ensure all users have an equal access to this information.


         

         <h3>Our Goals</h3>
         <ul>
            <li>Efficient web application which will display tourist position on the map.</li>
            <li>Information about restricted areas.</li>
            <li>Integration of mediums in case of an emergency, such as Emergency call.</li>
            <li>Limited bandwidth to ensure data usage is efficient.</li>
         </ul>

         <h3>Our Values</h3>

         <ul>
            <li>Teamwork – JILA has worked with such projects before, with every member participating to contribute the final product.</li>
            <li>Innovation – JILA aims to implement better technology to improve human lives globally.</li>
            <li>Quality – JILA projects are created to continuously improve lives for future generations.</li>
            <li>Project Dedication – JILA will continue to enhance the app to ensure the scared lands are protected.</li>
         </ul>
        </div>
    </article>
   </main>

    <footer>Created by Team 49 JAIB</footer>

</body>
 

</html>
