<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Landing Page</title>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link rel="icon" type="image/x-icon" href="/favicon.ico">
   </head>

   <body>
      
      
      
         <div class="main-login">
               <p class="center">
                    Please Log In to Tourist App admin interface
               </p>
               <a href="/login">
                <button class="center">Login Page</button>
             </a>
         </div>
     

      <footer>
         Written and produced by JILA
      </footer>

   </body>
</html>