<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Landing Page</title>
      <link rel="stylesheet" type="text/css" href="/css/test.css">
      <link rel="icon" type="image/x-icon" href="/favicon.ico">
   </head>

   <body>
      <header>
      </header>
      
      <main>
         <div>
               <p class="center">
                    Please Log In to View this window!
               </p>
               <a href="/login">
                <button class="center">Login Page</button>
             </a>
         </div>
      </main>

      <footer>
         Written and produced by JAIL
      </footer>

   </body>
</html>