<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Jila - Login</title>
      <script src = "js/index.js"  defer></script>

      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link rel="icon" type="image/x-icon" href="/favicon.ico">
   </head>

   <body>
      <header>
         <nav class="navbar">
            <div class="brand-title"><a href="/about">TouristApp</a></div>
            <a href="#" class="toggle-button">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </a>
            <div class="navbar-links ">
              <ul>
                <li><a href="/">Map</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/emergency">Emergency</a></li>
              </ul>
            </div>
          </nav>
      </header>   

     

         <div class="login-box">
            <h1>Login</h1>
            <form>
               <label>Email</label>
               <input type="email" id="email" placeholder="" />
               <label>Password</label>
               <input type="password" id="password" placeholder="" />
               <input type="button" value="Login" />
            </form>
         </div>



      <footer>
         <span>Written and produced by JAIB</span>
         <a href="/login">Admin Login</a>
      </footer>

   </body>
</html>