<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Jila - Login</title>
      <script src = "js/index.js"  defer></script>

      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link rel="icon" type="image/x-icon" href="/favicon.ico">
   </head>

   <body>
      <header>
         <nav class="navbar">
            <div class="brand-title"><a href="/about">Tourist</a></div>
            <a href="#" class="toggle-button">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </a>
            <div class="navbar-links ">
              <ul>
                <li><a href="/">Map</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/emergency">Emergency</a></li>
              </ul>
            </div>
          </nav>
      </header>   

     

         <div class="login-box">
            <h1>Login</h1>
            <form action="/auth" method="post">
               <label>Email</label>
               <input type="email" id="email" name = "email" placeholder="" required>
               <label>Password</label>
               <input type="password" id="password" name = "password" placeholder="" required>
               <input type="submit" value="Login">
            </form>
            <div id = "errorMessage"></div>
         </div>



      <footer>
         <span>Written and produced by JILA</span>
         <a href="/login">Admin Login</a>
      </footer>

      <script>
         if ('<%=wrongInfo%>' == 'true')
         {document.getElementById("errorMessage").innerHTML = "Please enter a valid Email/Password"}
         console.log("User has entered incorrect Data");
      
      </script>
   </body>
</html>