<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>JAIB - News</title>
      <script src = "js/index.js"  defer></script>
      <link rel="stylesheet" type="text/css" href="./css/style.css">
      <link rel="icon" type="image/x-icon" href="/favicon.ico">
   </head>

   <body>
      <nav class="navbar">
         <div class="brand-title">TouristApp</div>
         <a href="#" class="toggle-button">
           <span class="bar"></span>
           <span class="bar"></span>
           <span class="bar"></span>
         </a>
         <div class="navbar-links ">
           <ul>
             <li><a href="./maps.html">Map</a></li>
             <li><a href="./news.html">News</a></li>
             <li><a href="./emergency.html">Emergency</a></li>
           </ul>
         </div>
       </nav>
      
      <main>
         <div>
            <h2>Twitter Feed:</h2>
               <div style="margin: 2px 0;">
	            <a class="twitter-timeline" href="https://twitter.com/ausgov">Tweets by UKCovid19Stats</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
         </div>
      </main>

      <footer>
         Written and produced by JAIB
      </footer>

   </body>
</html>