<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Jila - Registration</title>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link rel="icon" type="image/x-icon" href="/favicon.ico">
   </head>

   <body>
      <header>
         <nav class="navbar">
            <div class="brand-title"><a href="/about">TouristApp</a></div>
            <a href="#" class="toggle-button">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </a>
            <div class="navbar-links ">
              <ul>
                <li><a href="/">Map</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/emergency">Emergency</a></li>
              </ul>
            </div>
          </nav>
      </header>     
      <main>
         <div>
            <h2>JILA</h2>
               <div class="center">
                  <form action="/register" method="post">
                     <h3>Register:</h3>
                     <label for="email">Name:</label><br>
                     <input type="text" id="name" name="name" ><br>
                     <label for="email">Email:</label><br>
                     <input type="email" id="email" name="email" ><br>
                     <label for="pass">Password:</label><br>
                     <input type="text" id="password" name="password" ><br>
                     <button type="submit" value="Register" name="submit">Register</button>
                  </form>
               </div>
         </div>
      </main>

      <footer>
         <span>Written and produced by JILA</span>
         <a href="/login">Admin Login</a>
      </footer>

   </body>
</html>